/*RESETANDO PADRÕES*/
*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}

body {font-size: inherit;}

input, select, iframe, button {border: none;}

h1, h2, h3 {margin: 0; padding: 0;}

ol, ul {list-style: nome;}

a {text-decoration: none; color: inherit;}


/*CORPO*/
body{
    background-color: rgb(43, 43, 46);
    font: normal 16pt Candara;
}

/*CAMPO DO QUESTIONÁRIO*/
#field{
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 600px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    font: normal 18pt Candara;    
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
    padding: 25px;
    color: #2f4c8c;
}

/*IMAGEM*/
section img{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
}

/*BOLA DO NUMERO DA QUESTÃO*/
aside{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -10%);
    background-color: rgb(189, 35, 50);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/*NUMERO BOLA DO NUMERO DA QUESTÃO */
aside #bola{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24pt;
}

/*BOTÃO AVANçAR PROXIMA QUESTÃO*/
#next{
    width: 400px;
    height: 50px;
    background-color: rgb(189, 35, 50);
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
    font-size: 20pt;
    color: #fff;
    border-radius: 10px;
}

#next:hover{
    
    background-color: rgb(167, 31, 45);    
    color: rgb(223, 219, 219);   
    transition: 0.5s;
}

form{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-60%, -20%);
    padding-top: 30px;
}

#txtPergunta{
    position: absolute;
    width: 450px;
    top: -20%;
    left: 30%;
    transform: translate(-3%, -30%);
}